.card-column {
	background-color: green;
	height: 100%;
	width: 16%;
	margin: 2px;
	display: inline-block
}

.drop-slot {
  height: 20px;
	background-color: red;
	margin: 3px;
}

.drop-slot.full-landing {
  height: 100%;
	background-color:aquamarine;
}